<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.android.pixelnfc"
>

    <application
        android:label="PixelNFCStub">
        <provider
            android:authorities="com.google.android.pixelnfc.provider.DeviceInfoContentProvider"
            android:exported="true"
            android:name="com.google.android.pixelnfc.provider.DeviceInfoContentProvider" />
    </application>

</manifest>
